/JavaApplication82/nbproject/private/
/Pharmacy-Management-system/nbproject/private/
/Pharmacy-Management-Systemm/nbproject/private/
/Pharmacy_Management_System/nbproject/private/
/Pharmacy_Management_System/build/
/Pharmacy_Management_System/dist/
